dark-grey = #2f2f2f
light-grey = #3e3e3e
dark-white = #f9f9f9
white = #e9e9e9
blueGr = linear-gradient(to right, #1c43d6,  #00aef7)
whiteGr = linear-gradient(to right, #1c43d6,  #ffffff)
orange = #D87803

.header
	width 100%
	
.logo
	padding 10px 0 0
	background blueGr

.logo__img
	width 50%
	display block
	
.logo__caption
	color white
	text-align center
	&:last-of-type
		margin 0 0 20px

.options
	height 40px
	padding 0 10px 0
	display flex
	justify-content flex-end
	
.theme
	background-color dark-grey
	width 40px
	height 40px
	border none
	border-radius 5px
	transition transform .3s ease
	&:active
		transform scale(0.95)
		transition transform .3s ease
	
.navigation
	background-color dark-grey
	position relative

.hamburger
	padding 15px 15px
	display inline-block
	transition-property opacity, filter
	transition-duration 0.3s
	transition-timing-function linear
	font inherit
	color inherit
	text-transform none
	background-color transparent
	border 0
	margin 0
	overflow visible

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after
	background-color white

.hamburger-box
	width 40px
	height 24px
	display inline-block
	position relative

.hamburger-inner
	display block
	top 50%
	margin-top -2px
	&::before
		top -10px
	&::after
		bottom -10px

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after
	width 40px
	height 4px
	background-color white
	border-radius 4px
	position absolute
	transition-property transform
	transition-duration 0.3s
	transition-timing-function ease

.hamburger-inner::before,
.hamburger-inner::after
	content ""
	display block
	background-color white

.hamburger--3dy
	.hamburger-box
		perspective 80px
	.hamburger-inner
		transition transform .3s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
	&.is-active
		.hamburger-inner
			background-color transparent !important
			transform rotateX(-180deg)
			&::before
				transform translate3d(0, 10px, 0) rotate(45deg)
			&::after
				transform translate3d(0, -10px, 0) rotate(-45deg)

.hamburger--3dy .hamburger-inner::before,
.hamburger--3dy .hamburger-inner::after
	transition transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)

.menu
	list-style none
	background-color light-grey
	height 0px
	width 100%
	opacity 0
	overflow hidden
	position absolute
	top: 50px
	
.menu-is
	display block
	height 170px
	opacity 1

.menu,
.menu-is
	transition-property height, opacity
	transition-duration .5s

.menu__list
	padding 10px 0
	font-size 18px
	transition-property background
	transition-duration .3s
	user-select none
	
		
.menu__item
	padding 10px 20px
	text-decoration none
	color white
	&:active
		transition-property background
		transition-duration .3s
		background-color dark-grey

.slider
	// overflow-x hidden
	overflow-y hidden
	width 500px
	margin 20px auto
	position relative
	white-space nowrap
	&::before
	&::after
		cursor pointer
		position absolute
		top 50%
		font-size 30px
		color white
	&::before
		content "\25C4"
		left 10px
	&::after
		content "\25BA"
		right 10px

// .slider__cont
// 	width 100%

// .slider__item
// 	display inline-block
// 	width 500px
// 	margin 0

// .slider__image
// 	width 100%

.logo__image
	width 100%
	
.main
	background-color dark-white

.block
	display block
	margin 0 auto
	padding 10px 15px 5px
	background-color dark-white

.block__contact
	display block
	margin 0 auto
	padding 1px

.block__about
	

.block__caption
	font-size 25px
	text-align center
	margin 15px 0 20px
	
.block__text
	font-size 18px
	text-indent 30px
	margin 10px 0
	
.orange
	color orange
	
.block__text_attention
	background blueGr
	color #e9e9e9
	padding 20px
	
.block__media
	padding 5px
	margin 20px auto
	
.block__image
	width 100%
	
.block__imgcapt
	text-align center
	font-size 15px
	
.block__list
	margin 20px 0

.block__item
	margin 0 0 10px 10px
	padding 0 0 0 10px
	width 100%

.block__map
	max-width 500px
	margin 15px auto

.footer
	background-color dark-grey
	padding 20px
	
.copyright
	display flex
	flex-direction column

.copyright__text
	color white
	text-align center
	margin 10px 0
	
.invert
	filter invert(100%)